@keyframes initialSlide {
	0% {
		width: 0%;
	}
	50% {
		width: 90%;
	}
	100%: {
		width: 30%;
	}
}

.slidingUnder {
	position: relative;
	height: 49vh;
	width: 75vh;
	background-size: auto 100%;
	cursor: pointer;
}

.slidingOver {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	max-width: 100%;
	background-size: auto 100%;
	animation-name: initialSlide;
	animation-duration: 1.5s;
	animation-iteration-count: initial;
	animation-timing-function: ease-in-out;
}

.mover {
  background-color: yellow;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 120%;
  transform: translateY(-8.3%);
  width: 2px;
  z-index: 3;
  opacity: 0.5;
}

.bgImage {
	cursor: default;
	user-select: none;
	z-index: -1;
    position: absolute;
    top: -9%;
    left: -26%;
    height: 128%;
    width: 153%;
}